<app-nav></app-nav>
<div
  id="beneficiarioContainer"
  class="d-flex flex-column align-items-center p-2 text-dark bg-opacity-25"
>
  <div class="text-center">
    <h2>Beneficiários cadastrados no sistema</h2>
    <a href="cadastrarBeneficiario"
      ><button type="submit" class="btn buttonPrincipal mb-4">
        Cadastrar
      </button></a
    >
  </div>
</div>

<div class="table-responsive">
  <table class="table table-secondary">
    <thead>
      <tr class="table-dark">
        <th>#</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Endereço</th>
        <th>Nº Carteirinha</th>
        <th>Ativo</th>
        <th>E-mail</th>
        <th>Senha</th>
        <th>Editar</th>
        <th>Deletar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let beneficiario of listaBeneficiarios">
        <th scope="row">{{ beneficiario.idBeneficiario }}</th>
        <td>{{ beneficiario.nome }}</td>
        <td>{{ beneficiario.cpf }}</td>
        <td>{{ beneficiario.telefone }}</td>
        <td>{{ beneficiario.endereco }}</td>
        <td>{{ beneficiario.numeroCarteirinha }}</td>
        <td [ngClass]="beneficiario.ativo ? 'check' : 'notCheck'"></td>
        <td>{{ beneficiario.email }}</td>
        <td>{{ beneficiario.senha }}</td>
        <td>
          <button
            type="submit"
            class="btn btn-danger"
            (click)="editarBeneficiario(beneficiario.idBeneficiario)"
          >
            Editar
          </button>
        </td>
        <td>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="removerBeneficiario(beneficiario.idBeneficiario)"
          >
            Deletar
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
