<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img src="../../assets/logo-projeto.png" alt="Logo Rede Avan" width="50" />
    <a class="navbar-brand ms-2" href="#">Rede<span class="avan">Avan</span></a>
    <div class="d-flex align-items-center">
      <div class="icon-config-sm">
        <a class="nav-link" href="agendamentosConfiguracao" class="configuracao"></a>
      </div>
      <button
        class="navbar-toggler ms-3"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div
      class="collapse navbar-collapse d-flex justify-content-between align-items-center"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="agendamentos"
          >Agendamentos</a
        >
        <a class="nav-link" href="listaBeneficiario">Beneficiário</a>
        <a class="nav-link" href="listaProfissional">Profissional</a>
        <a class="nav-link" href="listaEspecialidade">Especialidades</a>
        <a class="nav-link" href="listaHospital">Hospitais</a>
      </div>
      <div class="icon-config">
        <a class="nav-link" href="agendamentosConfiguracao" class="configuracao"></a>
      </div>
    </div>
  </div>
</nav>
