<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <img src="../../assets/logo-projeto.png" alt="Logo Rede Avan" width="50"/>
    <a class="navbar-brand ms-2" href="#">Rede<span class="avan">Avan</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="#">Agendamentos</a>
        <a class="nav-link" href="listaBeneficiario">Beneficiário</a>
        <a class="nav-link" href="cadastrarProfissional">Profissional</a>
        <a class="nav-link" href="listaEspecialidade">Especialidades</a>
        <a class="nav-link" href="cadastrarHospital">Hospitais</a>
      </div>
    </div>
  </div>
</nav>
