<app-nav></app-nav>
<div id="profissionalContainer" class="d-flex flex-column align-items-center p-2 text-dark bg-opacity-25">
  <div class="text-center">
    <h1>Dados do Profissional</h1>
    <p>Preencha seus dados pessoais para que possamos identificá-lo</p>
  </div>
  <form (ngSubmit)="cadastrar()" method="post" class="d-flex flex-column">
    <div class="d-flex flex-column">
      <div class="mb-3 row">
        <label for="Nome">Nome:</label>
        <input
          type="text"
          placeholder="Seu nome"
          required
          class="form-control"
          [(ngModel)]="profissional.nome"
          name="Nome"
        />
      <div class="mb-3 row">
        <label for="Telefone">Telefone:</label>
        <input type="tel" placeholder="Seu telefone" class="form-control"  [(ngModel)]="profissional.telefone"  name="Telefone"/>
      </div>
      <div class="mb-3 row">
        <label for="Endereco">Endereço:</label>
        <input type="text" placeholder="Seu endereço" class="form-control"  [(ngModel)]="profissional.endereco" name="Endereco" />
      </div>
    </div>

    <div class="d-flex align-items-center justify-content-center m-2">
      <label>Ativo:</label>
      <input
        ativo="ativo"
        type="checkbox"
        name="ativo"
        class="form-check-input ms-2"
        [(ngModel)]="profissional.ativo"
        required
      />
    </div>
    <div
      class="alert alert-light text-center"
      role="alert"
      *ngIf="mensagemSucesso"
    >
      Cadastro realizado com sucesso!
    </div>
    <div
      class="alert alert-danger text-center"
      role="alert"
      *ngIf="mensagemErro"
    >
      Erro ao cadastrar! Verifique os dados e tente novamente.

    </div>
    <button type="submit" class="btn buttonPrincipal" (click)="cadastrar()">Enviar</button>
  <!-- </form> -->

</div>
