<app-nav></app-nav>
<div id="container" class="d-flex flex-column align-items-center p-2 text-dark bg-opacity-25">
  <div class="text-center">
    <h2>Dados do Profissional</h2>
    <p>Preencha seus dados pessoais para que possamos identificá-lo</p>
  </div>
  <form method="post" class="d-flex flex-column" id="formProfissional">
    <div class="mb-3">
      <div>
        <label for="Nome">Nome:</label>
        <input type="text" placeholder="Seu nome" required class="form-control" [(ngModel)]="profissional.nome"
          name="Nome" />
      </div>
    </div>
    <div class="d-flex flex-column flex-lg-row mb-3">
      <div>
        <label for="Telefone">Telefone:</label>
        <input type="tel" placeholder="Seu telefone" class="form-control" [(ngModel)]="profissional.telefone"
          name="Telefone" />
      </div>
      <div class="ms-lg-3">
        <label for="Endereco">Endereço:</label>
        <input type="text" placeholder="Seu endereço" class="form-control" [(ngModel)]="profissional.endereco"
          name="Endereco" />
      </div>
    </div>

    <div class="ativo d-flex align-items-center justify-content-center m-2">
      <label>Ativo:</label>
      <input ativo="ativo" type="checkbox" name="ativo" class="form-check-input ms-2" [(ngModel)]="profissional.ativo"
        required />
    </div>
    <div class="alert alert-light text-center" role="alert" *ngIf="mensagemSucesso">
      Cadastro realizado com sucesso!
    </div>
    <div class="alert alert-danger text-center" role="alert" *ngIf="mensagemErro">
      Erro ao cadastrar! Verifique os dados e tente novamente.

    </div>

  </form>
  <button type="submit" class="buttonPrincipal" (click)="cadastrar()">
    Enviar
  </button>
</div>
