<div id="beneficiarioContainer" class="d-flex flex-column align-items-center p-2 text-dark bg-opacity-25">
  <div class="text-center">
    <h1>Dados Pessoais</h1>
    <p>Preencha seus dados pessoais para que possamos identificá-lo</p>
  </div>
  <form action="" method="post" class="d-flex flex-column">
    <div class="d-flex flex-column">
      <div class="mb-3 row">
        <label for="">Nome:</label>
        <input
          type="text"
          placeholder="Seu nome"
          required
          class="form-control"
        />
      </div>
      <div class="mb-3 row">
        <label for="">CPF:</label>
        <input
          type="text"
          placeholder="Seu CPF"
          required
          class="form-control"
        />
      </div>
      <div class="mb-3 row">
        <label for="">Telefone:</label>
        <input type="tel" placeholder="Seu telefone" class="form-control" />
      </div>
      <div class="mb-3 row">
        <label for="">Endereço:</label>
        <input type="text" placeholder="Seu endereço" class="form-control" />
      </div>
      <div class="mb-3 row">
        <label for="">Nº da Carteirinha:</label>
        <input
          type="text"
          placeholder="Nº da Carteirinha"
          required
          class="form-control"
        />
      </div>
      <!-- <div class="mb-3 row">
        <label for="">Email:</label>
        <input type="text" placeholder="Seu e-mail" />
      </div> -->
    </div>
    <button type="button" class="btn btn-primary btn-sm">Enviar</button>
  </form>
</div>
