#beneficiarioContainer {
  width: 100%;
  height: 100%;
}

#beneficiarioContainer button {
  background-color: #008585;
  color: #ffff;
  border-radius: 3em;
  border: none;
  padding: 7px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 20px;
}

#beneficiarioContainer button:hover {
  background-color: #036d6d;
  transition: background 0.5s;
}

#formBeneficiario {
  width: 90%;
}

#formBeneficiario div {
  width: 100%;
}

@media screen and (min-width: 768px) {
  #beneficiarioContainer {
    height: 88vh;
  }
  #formBeneficiario {
    width: 40%;
  }
}
