<div
  id="beneficiarioContainer"
  class="d-flex flex-column align-items-center p-2 text-dark bg-opacity-25"
>
  <div class="text-center">
    <h2>Beneficiários cadastrados no sistema</h2>
    <a href="../beneficiario/"
      ><button type="submit" class="btn buttonPrincipal mb-4">
        Cadastrar novo
      </button></a
    >
  </div>
  <table class="table table-secondary table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">CPF</th>
        <th scope="col">Telefone</th>
        <th scope="col">Endereço</th>
        <th scope="col">Nº Carteirinha</th>
        <th scope="col">Ativo</th>
        <th scope="col">E-mail</th>
        <th scope="col">Senha</th>
        <th scope="col">Atualizar</th>
        <th scope="col">Deletar</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let beneficiario of listaBeneficiarios">
        <td>{{ beneficiario.idBeneficiario }}</td>
        <td>{{ beneficiario.nome }}</td>
        <td>{{ beneficiario.cpf }}</td>
        <td>{{ beneficiario.telefone }}</td>
        <td>{{ beneficiario.endereco }}</td>
        <td>{{ beneficiario.numeroCarteirinha }}</td>
        <td>{{ beneficiario.ativo }}</td>
        <td>{{ beneficiario.email }}</td>
        <td>{{ beneficiario.senha }}</td>
        <td>
          <a href="editarBeneficiario">
            <button
              type="submit"
              class="btn btn-danger"
            >
              Atualizar
            </button>
          </a>
        </td>
        <td>
          <button
            type="submit"
            class="btn btn-primary"
            (click)="removerBeneficiario(beneficiario.idBeneficiario)"
          >
            Deletar
          </button>
        </td>
      </tr>
    </tbody>

    <tr></tr>
  </table>
</div>
