@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: #dce9e5;
}

#container {
  width: 100%;
  height: 100%;
}
.logo {
  text-decoration: none;
  color: #444;
}
.avan {
  color: #008585;
  text-transform: uppercase;
  font-weight: bold;
}

.buttonPrincipal {
  background-color: #008585;
  color: #ffff;
  border-radius: 3em;
  border: none;
  padding: 7px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.buttonPrincipal:hover {
  background-color: #036d6d;
  transition: background 0.5s;
  color: #fafafa;
  text-decoration: none;
}

.check {
  width: 5px;
  height: 5px;
  background-image: url(./assets/check.svg);
  background-repeat: no-repeat;
}

.notCheck {
  width: 5px;
  height: 5px;
  background-image: url(./assets/not.svg);
  background-repeat: no-repeat;
}
