/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background-color: #dce9e5;
}
.logo{
  text-decoration: none;
  color: #444;

}
.avan {
  color: #008585;
  text-transform: uppercase;
  font-weight: bold;
}

.buttonPrincipal {
  background-color: #008585;
  color: #ffff;
  border-radius: 3em;
  border: none;
  padding: 7px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.buttonPrincipal:hover {
  background-color: #036d6d;
  transition: background 0.5s;
  color: #fff;
  text-decoration: none;
}
