<app-nav></app-nav>
<div
  id="especialidadeContainer"
  class="d-flex flex-column align-items-center p-2 text-dark bg-opacity-25"
>
  <div class="text-center">
    <h2>Especialidades</h2>
    <p>Selecione a especialidade desejada!</p>
  </div>
  <div class="mb-3">
    <label for="NomeEspecialidade">Nome Especialidade:</label>
    <input
      type="text"
      placeholder="Seu nome"
      required
      class="form-control"

      name="Nome"
    />
  </div>
  <label for="descricao">Descrição</label>
  <textarea
    id="textarea"
    name="textarea"
    rows="5"
    cols="33"
  >
  </textarea>
<div class="ativo">
  <label>Ativo</label>
  <input ativo="ativo" type="checkbox" />
</div>
<button type="submit" class="btn buttonPrincipal" >Enviar</button>
</div>
